* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
  min-width: 20%;
}

html {
  --grøn_lys: #aecc9f;
  --grøn_mørk: #11a850;
  --font_sort: #000000;
  --font_hvid: #ffffff;
  --menu_grå: #333333;
  --footer: #73757b;
  --by: #eae0e5;
  --vand: #d8dbed;
  --skov: #9af5c0;
  --åbentLand: #ffe4b9;
}

.line {
  width: 40%;
  height: auto;
  position: absolute;
  z-index: 100;
  top: 0%;
  left: 35%;
}

#logo_svg {
  width: 20%;
  position: relative;
  padding: 2%;
}

nav {
  position: relative;
  background-color: var(--menu_grå);
  z-index: 101;
}

.spacer {
  background-color: var(--font_hvid);
  width: 100%;
  height: 50px;
  position: relative;
  z-index: 99;
  margin-top: -10px;
}

/* ________________section______________________ */

.background-section_1 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.overlay_1 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

.svg-container_1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.text_section_1 {
  text-align: center;
}

/* ________________section______________________ */
.background-section_2 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.overlay_2 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

.svg-container_2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.text_section_2 {
  text-align: center;
}

/* ________________section______________________ */
.background-section_3 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.overlay_3 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

.svg-container_3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.text_section_3 {
  text-align: center;
}

/* ________________section______________________ */
.background-section_4 {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.overlay_4 {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
}

.svg-container_4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  pointer-events: none;
}

.text_section_4 {
  text-align: center;
}
