* {
  box-sizing: border-box;
  margin: 0;
  max-width: 100%;
}

html {
  --beige: #fcf2e8;
  --grøn_mørk: #00ab41;
  --font_sort: #000000;
  --font_hvid: #ffffff;
  --menu_grå: #333333;
  --footer: #73757b;
  --by: #eae0e5;
  --vand: #d8dbed;
  --skov: #9af5c0;
  --åbentLand: #ffe4b9;
}

/* ___________________________ font ___________________________ */

body {
  background-color: var(--beige);
}

h1 {
  margin-top: 30px;
}
